version: '3.9'

networks:
  shared_network:
    external: true

services:
  archie-ai-agent:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: archie-ai-agent
    networks:
      - shared_network
    ports:
      - "8005:8005"
    environment:
      - PYTHONPATH=/app
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - BACKEND_API_URL=http://archie-backend:8002
    env_file:
      - .env
    volumes:
      - ./app:/app/app
    restart: unless-stopped
